@import "tailwindcss";
@layer components {
  .button {
    @apply duration-300 ease-in-out transform hover:scale-125 cursor-pointer;
  }
}
.container {
  margin: 0 auto;
  max-width: 2000px;
  padding: 0px 32px;
  width: 100%;
  background-color: transparent;
}
